@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
PLANNED IMPROVEMENTS:
-Editable header names and color
-Add Video Playlists
-Ability to add more tiers
-Save a tier list state to local computer and load the state
-Save on refresh and clear data button with confirmation popup
-Add youtube browser

LATER:
-Allow to save and share lists with others without using local files
-Upload video files
-Use non-youtube videos
-->
<div id="save-wrapper">
<div class="top">
    <div class="title">
        <img id="logoBG" src="~/logoBG.png" style="opacity:0.5;"><div id="logoText"><h1 style="font-size:3.5vh;color:antiquewhite;font-family:Arial, Helvetica, sans-serif;text-indent:-3vw;">Video Tier<br />List Maker</h1></div>
    </div>
</div>
<div style="display:table;" class="middle">
    <ul style="background:lightgrey;height:11.111%;display:table-row;" id="sTierItems">
        <li class="table-header">
            S
        </li>
    </ul>
    <ul style="background:#787276;height:11.111%;display:table-row;" id="aTierItems">
        <li class="table-header">
            A
        </li>
    </ul>
    <ul style="background:lightgrey;height:11.111%;display:table-row;" id="bTierItems">
        <li class="table-header">
            B
        </li>
    </ul>
    <ul style="background:#787276;height:11.111%;display:table-row;" id="cTierItems">
        <li class="table-header">
            C
        </li>
    </ul>
    <ul style="background:lightgrey;height:11.111%;display:table-row;" id="dTierItems">
        <li class="table-header">
            D
        </li>
    </ul>
    <ul style="background:#787276;height:11.111%;display:table-row;" id="fTierItems">
        <li class="table-header">
            F
        </li>
    </ul>
    <!--Put buttons here maybe or at top-->
    <ul style="background:grey;height:22.222vh;display:table-row;" id="addedItems">
        <li class="add-header">
            <div class="add-video">
                    <input type="url" id="videoUrl" />
                        <br />
                    <button type="button" onclick="validateVideo()" id="submitButton">Submit</button>
                        <br />
                    <button id="saveButton">Save List</button>
                        <br />
                    <input type="file" id="loadButton" style="display: none;">
                    <input type="button" id="loadButton" value="Browse..." onclick="document.getElementById('loadButton').click();" />
            </div>
        </li>
    </ul>
    <div id="trashBin">
        <i class="fa-solid fa-trash-can" id="trashIcon"></i>
    </div>
</div>
</div>

